
.aboutImg {
    width: 300px;
    height: 300px;
}
.containerH {
    color:#20d071;
    font-family: 'Rajdhani', sans-serif;
}
p {
    color:white;
    font-family: 'Rajdhani', sans-serif;
    font-size:16px;
}
h3{
    font-size:20px;
}
hr {
    color:white;
}
td, .fonts, span, {
    font-family: 'Rajdhani', sans-serif;
    color:#20d071;
}
th {
    font-family: 'Rajdhani', sans-serif;
    font-size:20px;
    color:#20d071;
}

/* colors for the checks */
.iconCheckColor1{
    color:#f26fd4;
}
.iconCheckColor2{
    color:#20d071;
}
.iconCheckColor3{
    color:#1a9ddb;
}
.iconCheckColor4{
    color:#fec02d;
}


/* color for the folder icon */
.iconFolderColor{
    color:#f0421c;
}

.cardP {
   color: #20d071;
}

/* wrapper for smooth fade in of the page */
.fade-in{
    animation: animationFrames ease 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: animationFrames ease 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
    -moz-animation: animationFrames ease 1s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation: animationFrames ease 1s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation: animationFrames ease 1s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode:forwards; /*IE 10+*/
  }
  
  @keyframes animationFrames{
    0% {
      opacity:0;
      transform:  translate(0px,-25px)  ;
    }
    100% {
      opacity:1;
      transform:  translate(0px,0px)  ;
    }
  }
  
  @-moz-keyframes animationFrames{
    0% {
      opacity:0;
      -moz-transform:  translate(0px,-25px)  ;
    }
    100% {
      opacity:1;
      -moz-transform:  translate(0px,0px)  ;
    }
  }
  
  @-webkit-keyframes animationFrames {
    0% {
      opacity:0;
      -webkit-transform:  translate(0px,-25px)  ;
    }
    100% {
      opacity:1;
      -webkit-transform:  translate(0px,0px)  ;
    }
  }
  
  @-o-keyframes animationFrames {
    0% {
      opacity:0;
      -o-transform:  translate(0px,-25px)  ;
    }
    100% {
      opacity:1;
      -o-transform:  translate(0px,0px)  ;
    }
  }
  
  @-ms-keyframes animationFrames {
    0% {
      opacity:0;
      -ms-transform:  translate(0px,-25px)  ;
    }
    100% {
      opacity:1;
      -ms-transform:  translate(0px,0px)  ;
    }
  }





@media screen and (min-width: 333px) and (max-width: 1024px) {
    #hide_table { display: none; }   /* hide it elsewhere */
  }