/* updated font family options:
font-family: 'Audiowide', cursive;
font-family: 'Megrim', cursive;
font-family: 'Gugi', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Sarpanch', sans-serif;
font-family: 'Zilla Slab Highlight', cursive; */

*{
    color: white;
}
h1, h2, h4, h5,  tbody,  p {
    color:white;
    font-family: 'Audiowide', cursive;
}

tr, td {
    font-family: 'Gugi', cursive;
}
p , h4, h6{
    font-size: 20px;
}

#lbHeader, #topTenHeader, #tablet, #phone {
    text-align: center;
    align-content: center;
}
/* ref html line 54. 
invisioned a background color that was only within the table opacity was faint maybe .3 just to showcase 
the boundryies of the table a bit, NOT WORKING YET maybe if you wanted something with a url:
            .background_color {
                background:  url("#");
                background-size: cover;
                width:100%;
                height: 100%;
                position:fixed;
                opacity: 1;
                z-index: -1;
                } 
*/
.background_color {
    color: grey;
    
}