*{
    color: white;
}
h1, h2, h3, h4, h5, h6, tbody, tr, td, p {
    color:white;
    font-family: 'Press Start 2P', cursive;
}

p {
    font-size: 10px;
}

/* ref html line 54. 
invisioned a background color that was only within the table opacity was faint maybe .3 just to showcase 
the boundryies of the table a bit, NOT WORKING YET maybe if you wanted something with a url:
            .background_color {
                background:  url("#");
                background-size: cover;
                width:100%;
                height: 100%;
                position:fixed;
                opacity: 1;
                z-index: -1;
                } 
*/
.background_color {
    color: grey;
    
}