* {
    box-sizing: border-box;
    overflow-x: hidden;
}



body {
    background-color: black;
        background-image: url("../media/images/newBackground.png");
        background-size: cover;
        margin: 0 auto;
        min-width: 413px;
    }



.ui.grid{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 15px;
}

.musicVideo{
display: flex;
justify-content: center;

}

.funFacts.ui.segment{
    justify-content: center;
    border: 1px solid rgba(161, 63, 173, 0.5);
    height: 100%;
    background: linear-gradient(-80deg, rgba(6, 11, 46, 0.3) 0%, rgba(0, 0, 0, 0.3) 40%, rgba(6, 11, 46, 0.3) 90%);
 
    
}

.ui.compact.segment{
    background: none;
    border: none;
}

label h4{
    color:rgb(161, 63, 173);
}

.ui.submit.button{
    border: 1px solid rgb(161, 63, 173);
    background: none;
    color: rgb(161, 63, 173);
}

#nameInput, #nickNameInput{
    background: none;
    border: 1px solid rgb(161, 63, 173);
}



i.sign.in.icon{
    color: rgb(161, 63, 173);
    
}

nav.ui.inverted.menu{
    background: linear-gradient(180deg, rgba(24, 15, 156, 0.3) 0%,rgba(0, 0, 0, 0.4) 70%, rgba(78, 39, 83, 0.3));
    border-bottom: 1px solid rgba(161, 63, 173, 0.2);
}

.ui.labeled.icon.button{
    background:none;
    border: 1px solid rgb(161, 63, 173);
    color: rgb(161, 63, 173);

}

.musicVideo.ui.segment{
    border: 1px solid rgba(161, 63, 173, 0.3);
    background: linear-gradient(85deg, rgba(161, 63, 173, 0.2) 0%, rgb(0, 0, 0) 10%,rgb(0, 0, 0) 85%,rgba(161, 63, 173, 0.2) 100%);


}

.anyInfo.ui.segment{
        display: flex;
        justify-content: center;
        border: 1px solid rgba(161, 63, 173, 0.5);
        height: 100%;
        background: linear-gradient(-80deg, rgba(6, 11, 46, 0.3) 0%, rgba(0, 0, 0, 0.3) 40%, rgba(6, 11, 46, 0.3) 90%);
     
        
    }

/*This is the style for our boxs' container. With it we can position and center the boxes in the browser.*/

#instrument {
height: 100%;
padding: 20px;

}

/*This is the style that give our music boxes shape*/

.box {
    width: 75px;
    height: 75px;
    float:left;
    transform:rotate(45deg);
    
}

.inside{
    position: absolute;
    transform: rotate(-45deg);
    text-align: center;
    top: 20px;
    padding-left: 10px;
}


/*These are the styles that individually color our boxes and also determine the hover and active states*/

#c:hover {
    background-color:#661920;
    cursor: pointer;
}
#c2:hover {
    background-color:#661920;
    cursor: pointer;
}

#c:active {
    background-color:#db1d2d;
}
#c2:active {
    background-color:#db1d2d;
}

#c {
    background-color: #3e181b;
    border: .5px solid #db1d2d;
}
#c2 {
    background-color: #3e181b;
    border: .5px solid #db1d2d;
}


#d:hover {
    background-color:#6e2819;
    cursor: pointer;
}

#d:active {
    background-color:#f0421c;
}

#d {
    background-color: #422018;
    border: .5px solid #f0421c;
}


#e:hover {
    background-color:#735b20;
    cursor: pointer;
}

#e:active {
    background-color:#fec02d;
}

#e {
    background-color: #45391b;
    border: .5px solid #fec02d;
}


#f:hover {
    background-color:#1b613b;
    cursor: pointer;
}

#f:active {
    background-color:#20d071;
}

#f {
    background-color: #193c29;
    border: .5px solid #20d071;
}


#g:hover {
    background-color:#184d65;
    cursor: pointer;
}

#g:active {
    background-color:#1a9ddb;
}

#g {
    background-color: #18323e;
    border: .5px solid #1a9ddb;
}


#a:hover {
    background-color:#4e2753;
    cursor: pointer;
}

#a:active {
    background-color:#a13fad;
}

#a {
    background-color: #331f35;
    border: .5px solid #a13fad;
}


#b:hover {
    background-color:#6f3a62;
    cursor: pointer;
}

#b:active {
    background-color:#f26fd4;
}

#b {
    background-color: #43293d;
    border: .5px solid #f26fd4;
}

.reset-holder.ui.segment{
    background: none;
    border: none;

}

#reset {
    background-color: #1a9ddb;
    width: 75px;
    height: 75px;
    transform:rotate(45deg);

}

#reset:hover {
    background-color:#6f3a62;
    cursor: pointer;
}

#reset:active {
    align-content: center;
    border: 3px solid #1a9ddb;
    background-color: darkblue;
}

.musicVideo {
    position: relative;
    border: 1px solid #1a9ddb;
    text-align: center;

}

.funFacts{
    border: 1px solid #a13fad;
    
}

#nextSongBtnAlign{
    align-content: center;
    align-items: center;
    vertical-align: middle;
    top:50%;
    bottom:-50%;
}
.rotate {

    /* Safari */
    -webkit-transform: rotate(-70deg);
    
    /* Firefox */
    -moz-transform: rotate(-70deg);
    
    /* IE */
    -ms-transform: rotate(-70deg);
    
    /* Opera */
    -o-transform: rotate(-70deg);
    
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    
    }

/* light up styles */
#c.light {
    background-color:#db1d2d;
}
#d.light {
    background-color:#f0421c;
}
#e.light {
    background-color:#fec02d;
}
#f.light {
    background-color:#20d071;
}
#g.light {
    background-color:#1a9ddb;
}
#a.light {
    background-color:#a13fad;
}
#b.light {
    background-color:#f26fd4;
}
#c2.light {
    background-color:#db1d2d;
}






